<section class="secArt">
    <div id="contentArticle">
        <h1 id="articleH1">{{ article.title }}</h1>
        <p id="articleP">{{ article.content }}</p>
        <img id="articleImg" src="{{ article.image }}" alt="{{ article.title }}">

    </div>
</section>