</main>
<footer class="flex">
    <nav>
        <ul class="flex">
            <li>
                <a href="{{ path('home') }}">ACCUEIL</a>
            </li>
            <li>
                <a href="{{ path('articles') }}">ARTICLES</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">CONTACT</a>
            </li>
        </ul>
    </nav>
</footer>
</body>
</html>